@import 'tailwindcss';
@config '../../tailwind.config.mjs';

html[data-font-size='sm'] {
  font-size: 14px;
}

html[data-font-size='lg'] {
  font-size: 18px;
}

html[data-motion='reduce'] *,
html[data-motion='reduce'] *::before,
html[data-motion='reduce'] *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
